# relative to repo root or CWD
SOURCE_DIR="./data/source"
DB_DIR="./data/app"

# _n_ requests per _n_ seconds
LIMITER_REQUESTS=5
LIMITER_SECONDS=20

### Use nonstandard token names to prevent unintentional access
_OPENAI_API_KEY=""

# TODO: use ollama instead of lmstudio?
_LOCAL_API_KEY="lmstudio"
_LOCAL_BASE_URL=""
