# full path or path relative to CWD (typically repo root)
SOURCE_DIR="./data/sources"
APP_DIR="./app"

# _n_ requests per _n_ seconds
LIMITER_REQUESTS=5
LIMITER_SECONDS=20

### Use nonstandard token names to prevent unintentional access
_OPENAI_API_KEY=""

# TODO: use ollama instead of lmstudio?
_LOCAL_API_KEY="lmstudio"
_LOCAL_BASE_URL=""
